<!DOCTYPE html>
<html lang="en">
  <body style="margin: 0 auto; font-family: Helvetica, sans-serif; color: #333333; text-align: center; max-width: 520px; padding: 0 20px;">
    <div style="font-size: 16px; text-align: left;">
      <div style="line-height: 150%;">
        <div style="font-size: 20px;">Hey {{ user["email"] }}!</div>
        
        <div style="margin: 15px 0;">
          To change your password, click the link below.
        </div>
        
      </div>
      <div>
        <a
          href="{{ reset_link }}"
          style="background:#324e7b;
           padding: 9px;
           width: 200px;
           color:#fff;
           text-decoration: none;
           display: inline-block;
           font-weight: bold;
           text-align: center;
           cursor: pointer;
           letter-spacing: 0.5px;
           border-radius: 4px;"
          >Reset my Password
        </a>
      </div>
      <div>
        You can also copy and paste the following link into your browser: {{ reset_link }}
      </div>
      <div style="line-height: 150%;">
        <div style="margin: 15px 0;">
          Clicking on the link above will redirect you to a page where you can enter a new password. If you have any problems, please contact us: <a href="mailto:support@yardsalemanager.com" style="color:#007bff;" target="_blank" rel="noopener noreferrer">support@yardsalemanager.com</a>
        </div>
        <div style="color:#828282; margin: 15px 0;">
          - Yardsale Manager Team
        </div>
      </div>
    </div>
  </body>
</html>